@page "/SecretaryHomePage"
@* @attribute [Authorize("Secretary")]
 *@

<body>
    <nav class="navbar navbar-dark navbar-expand-md sticky-top py-3" id="mainNav" style="padding: 0px 0px;height: 63.6px;">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="/"><img src="assets/img/clipboard-image.png" width="36" height="46" style="margin: 0px;padding: 0px;"><span style="margin: 7px;">BCB</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"></li>
                </ul><a href="Secretary%20Dashboard.html" style="padding-left: 0px;margin-left: 0px;padding-right: 12px;">Archive</a>
                <a href="ResidentsDetail" style="padding-left: 0px;margin-left: 0px;padding-right: 12px;">Residents Detail</a>
                <Dropdown>
                <div class="dropdown" style="padding-right: 9px;"><a class="dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" style="margin: 0px;">Household</a>
                    <div class="dropdown-menu"><a class="dropdown-list" href="/HouseholdList">Household List</a></div>
                </div>
                <div class="dropdown" style="padding-right: 9px;"><a class="dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" style="margin: 0px;">Residents</a>
                    <div class="dropdown-menu"><a class="dropdown-item" href="/ResidentsDetail">Residents List</a></div>
                </div>
                <div class="dropdown" style="padding-right: 9px;"><a class="dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown"  style="margin: 0px;">Profiling</a>
                    <div class="dropdown-menu"><a class="dropdown-item" href="/Residentsform">Profiling Form</a></div>
                </div>
                <div class="dropdown" style="padding-right: 9px;"><a class="dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown"  style="margin: 0px;">Purok</a>
                    <div class="dropdown-menu"><a class="dropdown-item" href="#">Purok 1A</a><a class="dropdown-item" href="#">Purok 1B</a><a class="dropdown-item" href="#"><span style="color: var(--bs-dropdown-link-hover-color); background-color: var(--bs-dropdown-link-hover-bg);">Purok 2</span></a><a class="dropdown-item" href="#"><span style="color: var(--bs-dropdown-link-hover-color); background-color: var(--bs-dropdown-link-hover-bg);">Purok 3</span></a><a class="dropdown-item" href="#"><span style="color: var(--bs-dropdown-link-hover-color); background-color: var(--bs-dropdown-link-hover-bg);">Purok 4</span></a><a class="dropdown-item" href="#"><span style="color: var(--bs-dropdown-link-hover-color); background-color: var(--bs-dropdown-link-hover-bg);">Purok 5</span></a><a class="dropdown-item" href="#"><span style="color: var(--bs-dropdown-link-hover-color); background-color: var(--bs-dropdown-link-hover-bg);">Purok 6</span></a><a class="dropdown-item" href="#"><span style="color: var(--bs-dropdown-link-hover-color); background-color: var(--bs-dropdown-link-hover-bg);">Purok 7</span></a></div>
                </div>
                </Dropdown>
                <a href="Secretary%20Dashboard.html" style="padding-left: 0px;margin-left: 0px;padding-right: 12px;">Sign Out</a><a href="Secretary%20Dashboard.html">Dashboard</a>
            </div>
        </div>
    </nav>
        <div class="container-fluid pt-4 px-4">
            <h6 class="mb-4">Dashboard</h6>
            <div class="row g-4" style="background: var(--bs-white);">
                <div class="col" style="border-style: solid;border-color: var(--dark);margin: 25px 0px 0px;width: 373px;">
                    <p class="mb-2" style="color: var(--bs-black);background: var(--bs-white);">Total of illness</p>
                    <h6 class="mb-0" style="color: var(--bs-black);">15</h6>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" style="width: 15%;margin-top: -1px;padding-bottom: 0px;margin-right: -27px;padding-top: 19px;"></div>
                    </div>
                </div>
                <div class="col" style="border-style: solid;border-color: var(--dark);margin: 25px 0px 0px;width: 373px;">
                    <p class="mb-2" style="color: var(--bs-black);background: var(--bs-white);">Medicine</p>
                    <h6 class="mb-0" style="color: var(--bs-black);">300</h6>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" style="width: 100%;margin-top: -1px;padding-bottom: 0px;margin-right: -27px;padding-top: 19px;"></div>
                    </div>
                </div>
            </div>
            <div class="row g-4" style="background: var(--bs-white);">
                <div class="col" style="border-style: solid;border-color: var(--dark);"><i class="fa fa-blind" style="font-size: 46px;color: var(--bs-black);"></i>
                    <p class="mb-2" style="color: var(--bs-black);">Total Senior Citizen</p>
                    <h6 class="mb-0" style="color: var(--bs-black);">0</h6>
                    <div class="progress" style="width: 428px;">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" style="width: 30%;margin-top: -1px;margin-right: -27px;padding-top: 0px;padding-bottom: 0px;"></div>
                    </div>
                </div>
            </div>
            <div class="row g-4">
                <div class="col-xl-4" style="border-style: solid;border-color: var(--dark);">
                    <p class="mb-2" style="color: var(--dark);">Total Prenatal</p>
                    <h6 class="mb-0" style="color: var(--dark);">0</h6>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" style="width: 5%;margin-top: -1px;padding-bottom: 0px;margin-right: -27px;"></div>
                    </div>
                </div>
                <div class="col" style="border-style: solid;border-color: var(--dark);width: 373px;margin: 25px 0px 0px;padding: 0px 12px;"><i class="fa fa-home" style="font-size: 42px;color: var(--dark);"></i>
                    <p class="mb-2" style="color: var(--dark);">Total Household</p>
                    <h6 class="mb-0" style="color: var(--dark);">0</h6>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" style="width: 60%;margin-top: -1px;padding-bottom: 0px;margin-right: -27px;"></div>
                    </div>
                </div>
                <div class="col" style="border-style: solid;border-color: var(--dark);width: 373px;margin: 25px 0px 0px;padding: 0px 12px;"><i class="fa fa-wheelchair" style="font-size: 42px;color: var(--dark);"></i>
                    <p class="mb-2" style="color: var(--dark);">Total of PWD</p>
                    <h6 class="mb-0" style="color: var(--dark);">0</h6>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" style="width: 20%;margin-top: -1px;padding-bottom: 0px;margin-right: -27px;"></div>
                    </div>
                </div>
            </div>
        </div>
</body>

@code {

}
